#add-carrier-btn{
    display: flex;
    background-color: transparent;
    color: green;
    border: 1px solid green;
    border-radius: 6px;
}

#add-carrier-btn:hover{
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);  
    transform: scale(1.1);
    transition: all 0.2s ease;
}

#carriers-table{
    border-radius: 8px;
    box-shadow: 5px 5px 16px rgba(255, 255, 255, 0.25) !important;
    border: .1px solid #333 !important;
    background-color: #1a1a1a;
    color: #adadad;
    width: 100%
}

.carriers-table-row:hover{
    color: white !important;
}

.carriers-table-row{
    border-bottom: 1px solid #adadad;
}

.edit-carrier-btn:hover{
    transform: scale(1.1);
    transition: all 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 229, 255, 0.5); 
    cursor: pointer;
}