#manage-carriers-container{
    color: white;
}

#contracts-button{
    cursor: pointer;
}

.approve-deny-btn{
    cursor: pointer;
}


.mantine-Accordion-control:hover{
    background-color: #333 !important;
}

.mantine-Tabs-tab:hover{
    background-color: #333 !important;
}