.off-truck-table{
    color: white;
    width: 100%;
    font-size: .7rem;
}

#shipment-overview{
    color: white;
    border: 2px solid #0290f69a;
    display: flex;
    flex-direction: column;
   height: auto;
   width: 30%;
   margin-bottom: 3rem;
   margin-top: 1rem;
   padding: 1rem;
   border-radius: 8px;
   gap: 0.5rem;
   font-size: smaller;
}

.shipment-overview-select-wrapper{
   display: flex;
   width: 100%;
    
}

.shipment-overview-select{
    background-color: transparent;
    color: white;
    width: 100%;
}

.date-picker-wrapper{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.date-picker{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 4px;
    min-width: 120px;
}