.table {
    color: white;
    width: 100%;
    font-size: .7rem;

}

.header{
    color: white;
    margin-top: 0rem;
}

.mantine-Drawer-close {
  color: white;
}

.mantine-Textarea-root{
  width: 70%;
}

.mantine-Drawer-close:hover {
  background-color: black !important;
  transform: scale(1.1);
  transition: transform 100ms ease;
}

.update-shipment-row{
    cursor: pointer;
}

.update-shipment-row:hover{
    background-color: #333;
}

.selected-shipment-row{
    background-color: #f6bd02;
    color: #0b1f3a;
}

.selected-shipment-row:hover{
    background-color: rgba(246, 168, 2, 0.85)!important;
    color: #0b1f3a;
}

.update-button {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease , transform 200ms ease;
}

.update-button.visible {
  opacity: 1;
  visibility: visible;
}

.update-button.visible:hover {
  opacity: 1;
  visibility: visible;
  transform: scale(1.05);
}

#data-table{
  
  
  background-color: #1a1a1a;
  font-size: 0.7rem;
  
}

#update-table-container{
    background-color: #1a1a1a;
    border-radius: 6px;
    border: 1px solid #333 !important;
    height: 70vH;
    overflow-y: scroll;
    box-shadow: 5px 5px 16px rgba(255, 255, 255, 0.25) !important;
}

.mantine-ScrollArea-viewport{
  background-color: #1a1a1a;
}

.mdt-header {
  background-color: #1a1a1a;
}

.mantine-datatable-row:hover td {
  background-color: #333 !important;
  color: white;
}

.mantine-datatable-row.selected-shipment-row:hover td {
  background-color: rgba(246, 168, 2, 0.85)!important;
    color: #0b1f3a;
}



.mantine-datatable-header-cell-resizable {
  background-color: #1a1a1a !important;
  color: white !important;
}



table th.mantine-datatable-header-cell-resizable {
  background-color: #1a1a1a !important;
  color: white !important;
}

.mantine-datatable-header-cell-sortable-text:hover {
  color: black !important;
}

.mantine-Table-th{
  color: white;
}


.mantine-datatable-row{
  color: #adadad;
  border-color: #adadad !important;
}

.mantine-Table-tr{
  border-color: #adadad !important;
}

.m_4e7aa4fd:where([data-with-row-border]){
  border-color: #adadad !important;
}

.mantine-ActionIcon-icon{
  color: #f6bd02;
}
.selected-shipment-row{
  color: black;
}

#shipments-table-container{
  box-shadow: 5px 5px 16px rgba(255, 255, 255, 0.25) !important;
  background-color: #1a1a1a;
  border-radius: 6px;
  border: 1px solid #333 !important;
  height: 70vH;

}

#view-shipment-btn:hover{
  transform: scale(1.3);
  transition: all 0.2s ease;
}

#bol-btn:hover{
  transform: scale(1.3);
  transition: all 0.2s ease;
}

#chat-btn:hover{
  transform: scale(1.3);
  transition: all 0.2s ease;
}

.update-div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1; 
  justify-content: center; 
  background-color: #1b1b1b; 
  border: 1px solid #333; 
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
  padding: 2rem;
  align-items: center;
}

.text-area-update {
    width: 87% !important;
    margin: 0;
}






